.reader-line {
  z-index: 100000000;
  position: fixed;
  width: 100vw;
  height: 20px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.15);
  pointer-events: none;
  --pseudo-background: rgba(0, 0, 0, 0.15);
}

.reader-line--focus {
  z-index: 100000000;
  position: fixed;
  width: 100vw;
  height: 20px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0) !important;
  pointer-events: none;
}

.reader-line--focus::after {
  content: ".";
  width: 100%;
  background-color: var(--pseudo-background);
  left: 0px;
  right: 0px;
  top: 100%;
  position: absolute;
  height: 100vh;
  z-index: 100000000;
}

.reader-line--focus::before {
  content: ".";
  width: 100%;
  background-color: var(--pseudo-background);
  left: 0px;
  right: 0px;
  bottom: 100%;
  position: absolute;
  height: 100vh;
  z-index: 100000000;
}